[submodule "url-shortener-frontend"]
	path = url-shortener-frontend
	url = https://github.com/Mamidisetty/url-shortener-projects.git
[submodule "url-shortener-sb"]
	path = url-shortener-sb
	url = https://github.com/Mamidisetty/url-shortener-projects.git
